* {
    box-sizing: border-box;
}
/* nav-bar */
#Main-nav-bar #nav-bar-container
{
    background-color: #fff;
}
#Main-nav-bar #nav-form button
{
    border-radius: 0 ;
    background-color: #3671C7;
}
#Main-nav-bar #nav-form input
{
    background-color: #FAFAFA;
    border: 1px solid #D5D5D5;
    border-radius: 0;
}
#Main-nav-bar #nav-bar-container #pro
{
    color:#FBB03B;
    font-weight: 600;
}
#Main-nav-bar #nav-bar-container .nav-link
{
    color: #121212;
    font-weight: 600;
    font-size: 14px;
}
#Main-nav-bar #nav-bar-container .dropdown-toggle::after {
    color: #3671C7;
}
#Main-nav-bar #nav-bar-container #send-req-btn {
    padding: 5px 12px;
    border: 1px solid #3671C7;
    border-radius: 0;
    color: #3671C7;
    line-height: 16px;
    border-radius: 2px;
}
#Main-nav-bar #nav-bar-container #send-req-btn:hover
{
    color:#FFF;
    background-color: #3671C7;
}
/* end nav-bar */
/*``````````````````````````*/
/* header */
section#header {
    background-color: #3671C7;
    height: 300px;
    width: auto;
    display: flex;
    text-align: center;
    align-items: center;
}
 .header-container .header-title{
     color: #FFFFFF;
}
.header-container .header-title h2{
    font-size: 50px;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    font-weight: bold;
}
.header-container .header-title span.asterisk
{
    color:#FBB03B
}
.header-container .header-title p{
    font-size: 30px;
}
/* end header */
#main-content
{
    padding: 2rem 0;
}
#main-content .container
{
    max-width: 75%;
}
#main-content .title h2
{
    font-weight: bold;
    padding: 1rem 0;
}
#main-content #main-banner
{
    background-color: #F2F2F2;
    align-items: center;
    padding: 2rem 1rem;
}
#main-content #main-banner .content ,
#main-content #main-banner .announcement-img
{
    color: #212121;
}
#main-content #main-banner .content .description-header h4
{
    font-weight: bold;
    color: #3671C7;
}
#main-content #main-banner .content .description-header p
{
    font-size: 18px;
}
#main-content #main-banner .content .description-content h6
{
    font-weight: 600;
}
#main-content #main-banner .content .description-content .agency-logo
{
    max-width: 150px;
    max-height: 150px;
    margin-left: auto;
}
#main-content #main-banner .content .description-content .agency-logo img
{
    width: 100%;
    height: 100%;
}
#main-content #main-banner .content .description-content .row
{
    padding-top: 1.5rem;
}
#main-content #main-banner .content .description-content .row:last-child
{
    align-items: flex-end;
}
#main-content #main-banner .content .description-content .row.main
{
    padding-top: 0;
}
#main-content #main-banner .content .description-content .row .content-item
{
    display: flex;
    flex-direction: column;
}
#main-content #main-banner .content .description-content .row .content-item p
{
    margin-bottom: 0;
}
#main-content .Book-now-container
{
    background-color: #F2F2F2;
    border-top: 2px solid silver;
    padding: 2rem 1.75rem;
}
#main-content .Book-now-container .book-now
{
    text-align: right;
}
#main-content .Book-now-container .book-now a
{
    padding: 10px 50px;
    border-radius: 2px;
    background-color: #3671C7;
    font-weight: 600;
    border: none;
}
#main-content .middle-banner
{
    padding: 1.5rem 0;
}
#main-content .middle-banner img
{
    width: 100%;
}
#main-content .item-container
{
    display: flex;
    justify-content: space-between;
}
#main-content .item-container .item
{
    width: 20%;
    max-width: 20%;
    max-height: 200px;
    padding: 5px;
}
.col-md-12
{
    padding: 0;
}
/* End-content */
/*``````````````````````````*/
/* Main Footer  */
#Main-Footer
{
    border-top: 2px solid #b2b2b2;
}
#Main-Footer .links-container ,
#Main-Footer .social-container ,
#Main-Footer .copyRights-container
{
    width: 65%;
    margin:auto;
    padding: 1.5rem 0;
}
#Main-Footer .copyRights-container
{
    border-top: 1px solid #b2b2b2;
}
#Main-Footer .Footer-logo ,
#Main-Footer .social-icon ,
#Main-Footer .Copy-rights
{
    color: #B2B2B2;
    display: block;
    text-align: center;
}
#Main-Footer .Footer-links ul ,
#Main-Footer .company-footer-links ul
{
    padding: 0;
    list-style-type: none;
}
#Main-Footer .Footer-links ul li ,
#Main-Footer .company-footer-links ul li
{
    padding: 2px 0;
}
#Main-Footer .Footer-links ul li a ,
#Main-Footer .company-footer-links ul li a
{
    color:#5C5C5C;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}
#Main-Footer .Footer-links p ,
#Main-Footer .company-footer-links p
{
    color:#3671C7;
    margin-bottom: .5rem;
    font-weight: bold;
}
#Main-Footer .social-icon {
    display: flex;
    justify-content: center;
}
#Main-Footer .social-icon > div
{
    padding: 1rem;
}
#Main-Footer .social-icon a
{
    color:#5C5C5C ;
}
#Main-Footer .Copy-righPrivacy
{
    font-size: 14px;
    padding-top:0.25rem;
}
/* Footer end */

@media (min-width:320px) and (max-width:767px){
    /* Nav */
    #Main-nav-bar #nav-form
    {
        width: 100%;
        margin: 0 !important;
    }
    #Main-nav-bar #nav-form input
    {
        flex: 1;
    }
    #Main-nav-bar .navbar-light .navbar-toggler{
        border:none;
        color: #212121;
    }
    /* content */
    #Main-nav-bar #nav-bar-container
    {
        padding-bottom: 0 !important;
    }
    section#header
    {
        height: 200px;
    }
    .header-container .header-title h2
    {
        font-size: 28px;
    }
    .header-container .header-title p
    {
        font-size: 18px;
    }
    #slider-carsoul-parent
    {
        margin: 0 !important;
        justify-content: space-around;
    }
    #slider-carsoul-parent li
    {
        padding: 3px;
        font-size: 14px;
    }
    #main-content .container
    {
        max-width: unset;
    }
    #main-content .contact h1
    {
        padding: 20px;
        font-size: 22px;
    }
    #main-content .contact .item
    {
        padding-bottom: .5rem;
    }
    .col-md-6
    {
        width: 50%;
    }
    .col-md-6 .item
    {
        padding: 0 ;
    }
    #main-content .contact h3 ,
    #Main-Footer .Footer-links p ,
    #Main-Footer .company-footer-links p
    {
        font-size: 14px;
    }
    .contact p ,
    #Main-Footer .Footer-links ul li a ,
    #Main-Footer .company-footer-links ul li a
    {
        font-size: 14px;
    }
    #main-content
    {
        padding: 1rem 0 !important;
    }
    #main-content .about .social-container ,
    #main-content .about .social-container {
        text-align: center;
        justify-content: center;
    }
    #Main-Footer .links-container .col-md-4
    {
        width: 33%;
    }
    /* Footer */
    #Main-Footer .links-container,
    #Main-Footer .social-container,
    #Main-Footer .copyRights-container
    {
        width: 90%;
    }
    #Main-Footer .social-container
    {
        padding: 0;
    }
    #Main-Footer .links-container {
        padding-bottom: 0;
    }
    #Main-nav-bar #nav-bar-container #send-req-btn
    {
        margin-bottom:.5rem;
        width:100%;
        padding:.75rem;
    }
    #Main-nav-bar #nav-bar-container #send-req-btn br {
    display:none;
    }

}
@media (min-width:1920px) {
    #Main-Footer .links-container,
    #Main-Footer .social-container,
    #Main-Footer .copyRights-container
    {
        width: 80%;
    }
}
@media (min-width:767px) and (max-width:991px)
{
    .navbar-light .navbar-toggler
    {
        order: 1;
    }
}