* {
    box-sizing: border-box;
}
/* nav-bar */
body
{
    background-color: #FFF;
}
#Main-nav-bar
{
    box-shadow: 0px 3px 6px #00000010;
    background-color: #fff;
}
#Main-nav-bar #nav-bar-container
{
    background-color: #fff;
    max-width: 1070px;
}
#Main-nav-bar #nav-form button
{
    border-radius: 0 ;
    background-color: #3671C7;
}
#Main-nav-bar #nav-form input
{
    background-color: #FAFAFA;
    border: 1px solid #D5D5D5;
    border-radius: 0;
}
#Main-nav-bar #nav-bar-container #pro
{
    color:#FBB03B;
    font-weight: 600;
}
#Main-nav-bar #nav-bar-container .nav-link
{
    color: #121212;
    font-weight: 600;
    font-size: 14px;
}
#Main-nav-bar #nav-bar-container .dropdown-toggle::after {
    color: #3671C7;
}
#Main-nav-bar #nav-bar-container #send-req-btn {
    padding: 5px 12px;
    border: 1px solid #3671C7;
    border-radius: 0;
    color: #3671C7;
    line-height: 16px;
    border-radius: 2px;
}
#Main-nav-bar #nav-bar-container #send-req-btn:hover
{
    color:#FFF;
    background-color: #3671C7;
}
#navbarDropdown img 
{
    border-radius: 50%;
}
#Main-nav-bar ul 
{
   align-items: center;
}
#Main-nav-bar ul li a i 
{
   color:#5C5C5C ; 
   font-size: 20px;
}
#Main-nav-bar ul li  .nav-link.bell ,
#Main-nav-bar ul li  .nav-link.question
{
    padding-top: 0;
    padding-bottom: 0;
}
#Main-nav-bar ul li  .nav-link.question
{
    border-right: solid 1px #B2B2B2;
}
#Main-nav-bar ul li  .nav-link.bell 
{
    border-left: solid 1px #B2B2B2;
}
/* end nav-bar */
/*``````````````````````````*/
/* Content  */

/* header */
.lg-screen-header {
    background-color: #132FBF;
    height: 300px;
    width: auto;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
}
 .header-container .header-title{
    color: #FFFFFF;
}
.header-container .header-title h2{
    font-size: 50px;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
}
.header-container .header-title p{
    font-size: 24px;
}
.header-container .header-title a
{
    text-decoration: none;
    color: unset;
}
.header-container .header-title a button
{
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0;
    color: #3671C7;
    line-height: 16px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #FFFFFF;
    margin-top: 1rem;
}
.header-container .avatar-img
{
    position: absolute;
    left: 0;
    right: 0;
}
.yellow
{
    color: #fc0;
}
.header-container .avatar-img img
{
    max-width: 200px;
}
/* end header */
.profile-container ,
.Change-Cover
{
    position: absolute;
}
.Change-Cover
{
    right: 0;
    bottom: 0;
}
.Change-Cover button
{
    border-radius: 2px;
    margin: 1rem;
    padding: 5px 20px;
}
.profile-cart
{
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 3px;
    padding: 2rem 1rem;
}
.profile-cart .row
{
    padding-bottom: 1rem;
}
.profile-cart .avatar
{
    text-align: center;
}
.profile-cart .avatar img
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#filter
{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#filter .col-md-6
{
    padding: 0;
}
#filter .category ul
{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
}
#filter .category ul li a
{
    padding: .7rem .5rem;
    text-decoration: none;
    color: #212121;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid #eee;
}
#filter .category ul li a.active
{
    color: #3671C7;
    border-bottom: 4px solid #3671C7;
}
/* sort  */
#filter .sort-btn
{
    max-width: 180px;
    margin: 0 5px;
}
#filter .sort-btn p
{
    margin: 0;
    padding: 0 12px;
    color: #495057;
    font-size: 14px;
}
#filter .sort-btn select
{
    border: none;
    cursor: pointer;
    font-size: 14px;
}
#request-content .col-md-4{
    max-width: 260px;
}
.profile-cart .title h4
{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}
.profile-cart .title p
{
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
}
.profile-cart .about h6
{
    font-weight: 600;
    font-size: 16px;
}
.profile-cart .about p
{
    font-size: 13px;
}
.profile-cart .num > div:last-of-type h6 {
    text-align: end;
    font-weight: unset;
    font-size: 15px;
}
.profile-cart .num h6
{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}
.profile-cart .num h6.text-primary
{
    font-weight: unset;
}
.profile-cart .edite .btn
{
    background-color: #3671C7;
    border-radius: 2px;
    padding: 10px 20px;
    width: 250px;
}
/* btn container  */
#content .btn-container button
{
    border-radius: 2px;
    margin: 1px 0;
    padding: 10px;
}
/* End-content */
/*``````````````````````````*/
/* Main Footer  */
#Main-Footer
{
    border-top: 2px solid #b2b2b2;
}
#Main-Footer .links-container ,
#Main-Footer .social-container ,
#Main-Footer .copyRights-container
{
    width: 65%;
    margin:auto;
    padding: 1.5rem 0;
}
#Main-Footer .copyRights-container
{
    border-top: 1px solid #b2b2b2;
}
#Main-Footer .Footer-logo ,
#Main-Footer .social-icon ,
#Main-Footer .Copy-rights
{
    color: #B2B2B2;
    display: block;
    text-align: center;
}
#Main-Footer .Footer-links ul ,
#Main-Footer .company-footer-links ul
{
    padding: 0;
    list-style-type: none;
}
#Main-Footer .Footer-links ul li ,
#Main-Footer .company-footer-links ul li
{
    padding: 2px 0;
}
#Main-Footer .Footer-links ul li a ,
#Main-Footer .company-footer-links ul li a
{
    color:#5C5C5C;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}
#Main-Footer .Footer-links p ,
#Main-Footer .company-footer-links p
{
    color:#3671C7;
    margin-bottom: .5rem;
    font-weight: bold;
}
#Main-Footer .social-icon {
    display: flex;
    justify-content: center;
}
#Main-Footer .social-icon > div
{
    padding: 1rem;
}
#Main-Footer .social-icon a
{
    color:#5C5C5C ;
}
#Main-Footer .Copy-righPrivacy
{
    font-size: 14px;
    padding-top:0.25rem;
}
/* Footer end */
.sm-screen-header
{
    display: none ;
}

@media (min-width:320px) and (max-width:767px){
    /* Nav */
    #Main-nav-bar #nav-form
    {
        width: 100%;
        margin: 0 !important;
    }
    #Main-nav-bar #nav-form input
    {
        flex: 1;
    }
    #Main-nav-bar .navbar-light .navbar-toggler{
        border:none;
        color: #212121;
    }
    /* content */

    /* End */
    /* Footer */
    #Main-Footer .links-container,
    #Main-Footer .social-container,
    #Main-Footer .copyRights-container
    {
        width: 90%;
    }
    #Main-Footer .social-container
    {
        padding: 0;
    }
    #Main-Footer .links-container {
        padding-bottom: 0;
    }
    #Main-nav-bar #nav-bar-container #send-req-btn
    {
        margin-bottom:.5rem;
        width:100%;
        padding:.75rem;
    }
    #Main-nav-bar #nav-bar-container #send-req-btn br {
    display:none;
    }
}
@media (min-width:1920px) {
    #Main-Footer .links-container,
    #Main-Footer .social-container,
    #Main-Footer .copyRights-container
    {
        width: 80%;
    }
}
@media (max-width: 1200px){
    #Main-nav-bar #nav-bar-container
    {
        max-width: 100%;
    }
}
@media(max-width:970px){

    /* avatar */
    .sm-screen-header
    {
        display: block;
    }
    .lg-screen-header{
        height: unset;
        background-color: unset;
    }
    section.lg-screen-header
    {
        display: none !important;
    }
    .sm-screen-header .profile-container
    {
        position: unset !important;
    }
    .sm-screen-header .Change-Coverl
    {
        right: 0;
        bottom: 0;
    }
    .sm-screen-header .profile-container
    {
        max-width: 100%;
        flex: unset;
    }
    .sm-screen-header .profile-cart .avatar
    {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
    }
    .sm-screen-header .profile-cart .header-row
    {
        background-color: red;
        height: 200px;
        margin-bottom: 1rem;
        position: relative;
    }
    .profile-cart
    {
        padding: 0;
    }
    .profile-cart .row {
        padding: 1rem ;
    }
    /* End */
    #filter
    {
        flex-direction: column;
    }
    #filter .col-md-6
    {
        max-width: 100%;
    }
    #filter .col-md-6 .flex-row-reverse
    {
        flex-direction: row !important;
        justify-content: center;
    }
    #filter .category
    {
        margin-bottom: 1rem;
    }
    #filter .category ul
    {
        justify-content: space-between;
        border-bottom: 1px solid #D5D5D5;
    }
    #filter .category ul li a
    {
        border-bottom: 0;
    }
    /* content  */
    .request-info-container .row
    {
        flex-direction: column;
    }
    .request-info-container .row
    {
        flex-direction: row !important;
        flex-wrap: wrap;
    }
    #profile-content
    {
        flex: unset;
        max-width: 100%;
        width: 100%;
    }
    .profile-cart .row.num .col-md-6
    {
        max-width: 50%;
    }
    .profile-cart .num h6{
        font-size: 12px;
    }
}
@media(max-width:600px){
    .profile-cart .avatar img
    {
        width: 150px;
        height: 150px;
    }
    .Change-Cover button{
        font-size: 14px;
    }
    .sm-screen-header .profile-cart .avatar{
        top: 85px;
    }
}
@media(max-width:480px){
    .Change-Cover button
    {
        margin: 3px;
    }
    .profile-cart .avatar img{
        width: 120px;
        height: 120px;
    }
    .sm-screen-header .profile-cart .avatar{
        top: 125px;
    }
    .Change-Cover{
        top: 0;
    }
}
/* navbar */
@media (max-width:991px) {
    #Main-nav-bar ul 
    {
        align-items: flex-start;
    }
    #Main-nav-bar ul li .nav-link.bell ,
    #Main-nav-bar #nav-bar-container .nav-link
    {
        padding: .5rem;
        border:none;
    }
}